<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Интернет магазин</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Категории<b class="caret"></b></a>
                        <ul class="dropdown-menu" >
                            <li>
                                <a></a>
                            </li>
                        </ul>
                    </li>
                    <li><a routerLink="/about">О нас</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/cart">Корзина<span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                    <li><a data-target="#signInDialog" data-toggle="modal">Войти <span class="glyphicon glyphicon-log-in"></span></a></li>
                    <li (click)="unAuthorization()"><a>Выйти <span class="glyphicon glyphicon-log-out"></span></a></li>
                    <li><a>Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>