<div class="modal fade" id="signInDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Войти в онлайн магазин</h4>
            </div>
            <div class="modal-body">
                <label></label>
                <input type="text" title="login" class="form-control" placeholder="Username">
                <input type="password" title="password" class="form-control" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" value="Запомнить меня"> Запомнить меня
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</div>